.about {
  overflow: hidden;
  padding: 40px 0 60px 0;

  @include vp-768 {
    padding: 40px 0 80px 0;
  }

  @include vp-1024 {
    padding: 40px 0 100px 0;
  }

  @include vp-1304 {
    padding: 40px 0 120px 0;
  }

  &__title {
    position: relative;
    margin: 0 0 40px 0;
    padding: 0 0 28px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;

    @include vp-768 {
      font-size: 32px;
      line-height: 36px;
      margin: 0 0 60px 0;
      padding: 0 0 32px 0;
    }

    @include vp-1024 {
      font-size: 40px;
      line-height: 44px;
      margin: 0 0 80px 0;
      padding: 0 0 40px 0;
    }

    &::after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: 0;
      width: 100vw;
      height: 1px;
      transform: translate3d(-50%, 0, 0);
      background-color: $color-hawkes-blue;
    }
  }

  &__main-list {
    list-style: none;
    padding: 0;
    margin: 0 0 24px 0;
    display: grid;
    gap: 24px;

    @include vp-1024 {
      margin: 0 0 20px 0;
    }

    @include vp-1304 {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 0 24px 0;
    }
  }

  &__main-item {
    @include vp-1024 {
      position: relative;
    }
  }

  &__main-link {
    display: none;

    @include vp-1024 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 8px;
      background-color: $color-solitude-4;
      position: absolute;
      left: 32px;
      bottom: 32px;
    }

    &:hover {
      background-color: $color-link-water;
    }

    &:focus-visible {
      background-color: $color-link-water;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 24px;

    @include vp-1024 {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include vp-1304 {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }
}
