.achievements {
  margin: 0 0 60px 0;

  @include vp-768 {
    margin: 0 0 80px 0;
  }

  @include vp-1024 {
    margin: 0 0 100px 0;
  }

  @include vp-1304 {
    margin: 0 0 120px 0;
  }

  &__title {
    margin: 0 0 28px 0;
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    @include vp-768 {
      flex-direction: row;
    }

    @include vp-1024 {
      gap: 20px;
    }

    @include vp-1304 {
      gap: 24px;
    }
  }

  &__item {
    @include vp-768 {
      width: calc(50% - 8px);
    }

    @include vp-1024 {
      width: calc(50% - 10px);
    }

    @include vp-1304 {
      width: calc(25% - 18px);
    }
  }
}
