.news {
  margin: 0 0 60px 0;

  @include vp-768 {
    margin: 0 0 80px 0;
  }

  @include vp-1024 {
    margin: 0 0 100px 0;
  }

  @include vp-1304 {
    margin: 0 0 120px 0;
  }

  &__title {
    margin: 0 0 28px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.04em;

    @include vp-768 {
      margin: 0 0 32px 0;
    }

    @include vp-1024 {
      margin: 0 0 48px 0;
      font-size: 40px;
      line-height: 44px;
      text-align: center;
    }

    @include vp-1304 {
      margin: 0 0 60px 0;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 28px 0;
    display: grid;
    gap: 16px;

    @include vp-768 {
      margin: 0 0 32px 0;
    }

    @include vp-1024 {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin: 0 0 48px 0;
    }

    @include vp-1304 {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin: 0 0 60px 0;
    }
  }

  &__item--large {
    @include vp-1024 {
      grid-column: span 2;

      .news-card__text {
        margin: 0 0 52px 0;
      }

      @include vp-1304 {
        grid-column: auto;

        .news-card__text {
          margin: 0 0 28px 0;
        }
      }
    }
  }

  &__button {
    width: 100%;

    @include vp-1024 {
      width: 160px;
      margin: 0 auto;
    }
  }
}
