.rating-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 28px;
  background-color: $color-solitude-2;
  border-radius: 16px;

  @include vp-1024 {
    padding: 32px 48px;
  }

  &__prediction {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    gap: 0 8px;

    @include vp-1024 {
      margin: 0 0 16px 0;
    }
  }

  &__prediction-text {
    margin: 0;
    font-size: 14px;
    line-height: 18px;

    @include vp-1024 {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__icon {
    flex-shrink: 0;
    color: $color-black-russian-2;
  }

  &__value {
    margin: 0 0 auto 0;
    padding: 0;
    font-size: 32px;
    line-height: 36px;
    color: $color-royal-blue-1;
    border: none;
    border-bottom: 1px dashed $color-royal-blue-1;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: $color-royal-blue-2;
      border-bottom: 1px solid $color-royal-blue-2;
    }

    &:focus-visible {
      color: $color-royal-blue-2;
      border-bottom: 1px solid $color-royal-blue-2;
    }

    @include vp-1024 {
      font-size: 56px;
      line-height: 60px;
      margin: 0 0 72px 0;
    }

    &:not(button) {
      color: $color-black-russian;
      border: none;
      cursor: initial;
      pointer-events: none;
    }
  }

  &__agency {
    display: flex;
    gap: 0 4px;
    margin: 19px 0 0 0;
    font-size: 14px;
    line-height: 18px;

    @include vp-1024 {
      font-size: 16px;
      line-height: 22px;
      margin: auto 0 0 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-royal-blue-1;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    margin: 0 0 0 4px;
  }
}
